@charset "utf-8";

/*font + */
@import url('//fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&subset=korean');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css');
/* font-family: 'Nanum Square'; */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* font-family: 'Pretendard', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/* font-family: 'Space Grotesk', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
/* font-family: "Red Hat Display", sans-serif; */




*{ max-height:1000000px; box-sizing: border-box; word-break: keep-all; line-height: 1.3; }

html, body{padding:0;margin:0; font-size: 62.5%;}


body{-webkit-text-size-adjust:none; }


body,table,input,textarea,button, input[type="submit"] {font-size:12px;font-family: 'Pretendard', 'Noto Sans KR', 'Malgun Gothic', 'verdana', sans-serif;color:#666;}
article, aside, details, figcaption, footer, header, hgroup, menu, nav, section {display:block }
figure{ display: inline-block; margin: 0; }
button, input[type="submit"]{ cursor: pointer; }


/* for AXISJ */
body, select, input, a, button{line-height:1.3;}


a{outline:none;}


div, pre, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, address, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, select, textarea { margin:0; padding:0; }


h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;}


ul, ol, li { list-style:none; }
li{text-indent: -14px; list-style-position: inside;}
em,address{font-style:normal;}


table {border-collapse:collapse;border-spacing:0;table-layout:fixed;width:100%;}
table {border:0;width:100%;}
table th{word-wrap:break-word}
table td{word-wrap:break-word}

img, fieldset { border:none; }
img, object { vertical-align:top; }
img { max-width:100%; }

caption {text-align:left;}

select {vertical-align:middle;color:#666;}
input {vertical-align:middle;color:#666;}
textarea {color:#666;}
input[type="radio"]{vertical-align:middle;}

a:link{color:#666; text-decoration:none;}


hr,caption, legend {width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}
.hide{position:absolute;top:-9999px;width:0;height:0;font-size:0;line-height:0;overflow:hidden;visibility:hidden;}


