@charset 'utf-8';

/* font */
:root{
	--baseFont: 'Pretendard', 'Noto Sans KR', 'Malgun Gothic', 'verdana', sans-serif;
    --EngFont: 'Red Hat Display', 'Pretendard', sans-serif;
	--Space: 'Space Grotesk', sans-serif;
	--Poppins: 'Poppins', sans-serif;
	--Noto: 'Noto Sans KR', sans-serif;
	/* --mainColor: #00ACCC; */
}
*{margin: 0; padding: 0; box-sizing: border-box; line-height: 1.3; word-break: keep-all;}

/* .main,section,footer{
    width: 100%; position: relative;
} */

.w1760{
    max-width: 1760px; 
    margin: 0 auto;
    width: 100%;
}
.w1600{
    max-width: 1600px; 
    margin: 0 auto;
    width: 100%;
}
.w1300{
    max-width: 1300px; 
    margin: 0 auto;
    width: 100%;
}
.w1250{
    max-width: 1250px; 
    margin: 0 auto;
    width: 100%;
}
.w1225{
    max-width: 1225px; 
    margin: 0 auto;
    width: 100%;
}
.w1200{
    max-width: 1200px; 
    margin: 0 auto;
    width: 100%;
}
.w1100{
    max-width: 1100px; 
    margin: 0 auto;
    width: 100%;
}
.w950{
    max-width: 950px; 
    margin: 0 auto;
    width: 100%;
}

