*{margin: 0; padding: 0;}
a{text-decoration: none; display: block;}
ul,li{list-style: none;}
img{border: 0; display: block;}

body{-webkit-font-smoothing: antialiased;}

/* Gothic A1 */
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('/font/GothicA1-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('/font/GothicA1-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('/font/GothicA1-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('/font/GothicA1-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('/font/GothicA1-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* antonio */
@font-face {
  font-family: "Antonio", sans-serif;
  src: url('/font/Antonio-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio", sans-serif;
  src: url('/font/Antonio-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio", sans-serif;
  src: url('/font/Antonio-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio", sans-serif;
  src: url('/font/Antonio-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Antonio", sans-serif;
  src: url('/font/Antonio-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Josefin Sans */
@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url('/font/JosefinSans-ExtraLight.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url('/font/JosefinSans-Light.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url('/font/JosefinSans-Regular.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url('/font/JosefinSans-Medium.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url('/font/JosefinSans-SemiBold.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Josefin Sans", sans-serif;
  src: url('/font/JosefinSans-Bold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
