*{margin: 0; padding: 0;}
a{text-decoration: none; color: darkred; display: block;}
ul,li{list-style: none;}
img{border: 0; display: block;}

/* 구글웹폰트 연결하기 */



body{
    /* font-family: 'Noto Sans KR', sans-serif; */
    -webkit-font-smoothing: antialiased;


    /* font-family: 'Kanit', sans-serif; */
    /* font-family: 'Goldman', cursive; */
    /* font-family: 'Gothic A1', sans-serif; */

    

}

/* kanit */
@font-face {
  font-family: "Kanit", sans-serif;
  src: url('../font/Kanit-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit", sans-serif;
  src: url('../font/Kanit-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit", sans-serif;
  src: url('../font/Kanit-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit", sans-serif;
  src: url('../font/Kanit-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kanit", sans-serif;
  src: url('../font/Kanit-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* goldman */
@font-face {
  font-family: "Goldman", sans-serif;
  src: url('../font/Goldman-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Goldman", sans-serif;
  src: url('../font/Goldman-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Gothic A1 */
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('../font/GothicA1-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('../font/GothicA1-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('../font/GothicA1-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('../font/GothicA1-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gothic A1", sans-serif;
  src: url('../font/GothicA1-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

