@charset "utf-8";

@font-face{
font-family:'NanumGothic';
src:url('/css/fonts/NanumGothic.eot');
src:url('/css/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'), url('/css/fonts/NanumGothic.woff') format('woff');
}

/***********************************
	css reset
***********************************/
* {-webkit-text-size-adjust:none;}
body {margin:0; padding:0; font-family:'arial', '나눔고딕', 'NanumGothic', '돋움', 'dotum', sans-serif; font-size:12px; color:#454545;}
section, article, div, ul, li, dl, dt, dd, p, img, h1 {margin:0; padding:0;}
li {list-style:none; margin:0; padding:0;}
a {display:inline-block; color:#454545; text-decoration:none;}
a:focus, a:hover {text-decoration:none;}
img {border:none;}
h1, h2, h3, h4, h5, h6 {font-family:'arial', 'NanumGothic', sans-serif; font-weight:normal;}
table {border-collapse:collapse; border-spacing:0; border-width:0;}
table img {vertical-align:middle;}

/* 정렬 */
.fl {float:left !important;}
.fr {float:right !important;}
.ar {text-align:right !important;}
.ac {text-align:center !important;}
.al {text-align:left !important;}

/* width */
.w10 {width:10% !important}
.w20 {width:20% !important}
.w30 {width:30% !important}
.w40 {width:40% !important}
.w50 {width:50% !important}
.w60 {width:60% !important}
.w70 {width:70% !important}
.w80 {width:80% !important}
.w90 {width:90% !important}
.w100 {width:100% !important}

/* margin */
.mt0{margin-top:0 !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
.mt60{margin-top:60px !important}
.mt70{margin-top:70px !important}
.mt80{margin-top:80px !important}
.mt90{margin-top:90px !important}
.mt100{margin-top:100px !important}

.mb0{margin-bottom:0 !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}
.mb60{margin-bottom:60px !important}
.mb70{margin-bottom:70px !important}
.mb80{margin-bottom:80px !important}
.mb90{margin-bottom:90px !important}
.mb100{margin-bottom:100px !important}

.mr0{margin-right:0 !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr20{margin-right:20px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}
.mr60{margin-right:60px !important}
.mr70{margin-right:70px !important}
.mr80{margin-right:80px !important}
.mr90{margin-right:90px !important}
.mr100{margin-right:100px !important}

.ml0{margin-left:0 !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
.ml60{margin-left:60px !important}
.ml70{margin-left:70px !important}
.ml80{margin-left:80px !important}
.ml90{margin-left:90px !important}
.ml100{margin-left:100px !important}

.requiredTh {padding:0 7px; background:url("/images/ico/ico_check.gif") no-repeat left 4px;}