* {padding: 0; margin: 0;}
ul,li {list-style: none;}
a {text-decoration: none;}
img{vertical-align:top;}
em{
	word-break: break-all;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
	font-style: normal;
}
i{font-style: normal;}
figure,span{display: block;}
button{
	border: none;
  outline: none;
	background-color: transparent;
	cursor: pointer;
}
p, a, h1, h2, h3, h4, h5, h6, span, em {
	transform: skew(-0.1deg);
}
html, body {
	overflow: visible !important;
}
:after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
 */

/* full page */
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
    height: auto !important;
}

/* IE의 경우 */
input::-ms-clear,
input::-ms-reveal{
    display:none;
}
/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
    display:none;
}


@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 100;
	src: local('Noto Sans KR Thin'), local('Noto Sans CJK KR Thin'),
	url(NotoSansKR-Thin.woff2) format('woff2'),
	url(NotoSansKR-Thin.woff) format('woff'),
	url(NotoSansKR-Thin.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 300;
	src: local('Noto Sans KR Light'), local('Noto Sans CJK KR Light'),
	url(NotoSansKR-Light.woff2) format('woff2'),
	url(NotoSansKR-Light.woff) format('woff'),
	url(NotoSansKR-Light.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 400;
	src: local('Noto Sans KR Regular'), local('Noto Sans CJK KR Regular'),
	url(NotoSansKR-Regular.woff2) format('woff2'),
	url(NotoSansKR-Regular.woff) format('woff'),
	url(NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	src: local('Noto Sans KR Medium'), local('Noto Sans CJK KR Medium'),
	url(NotoSansKR-Medium.woff2) format('woff2'),
	url(NotoSansKR-Medium.woff) format('woff'),
	url(NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	src: local('Noto Sans KR Bold'), local('Noto Sans CJK KR Bold'),
	url(NotoSansKR-Bold.woff2) format('woff2'),
	url(NotoSansKR-Bold.woff) format('woff'),
	url(NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: local('Noto Sans KR Black'), local('Noto Sans CJK KR Black'),
	url(NotoSansKR-Black.woff) format('woff'),
	url(NotoSansKR-Black.otf) format('opentype');
}

/* --------------------------------------------------------------- */

@font-face {
	font-family: "Cormorant Garamond", serif;
	font-weight: 300;
  font-style: normal;
	src: local('CormorantGaramond-Light'), url('//font/Cormorant-Garamond-ttf/CormorantGaramond-Light.ttf') format('ttf');
}
@font-face {
	font-family: "Cormorant Garamond", serif;
	font-weight: 400;
  font-style: normal;
	src: local('CormorantGaramond-Regular'), url('//font/Cormorant-Garamond-ttf/CormorantGaramond-Regular.ttf') format('ttf');
}

@font-face {
	font-family: "Cormorant Garamond", serif;
	font-weight: 500;
  font-style: normal;
	src: local('CormorantGaramond-Medium'), url('//font/Cormorant-Garamond-ttf/CormorantGaramond-Medium.ttf') format('ttf');
}
@font-face {
	font-family: "Cormorant Garamond", serif;
	font-weight: 600;
  font-style: normal;
	src: local('CormorantGaramond-SemiBold'), url('//font/Cormorant-Garamond-ttf/CormorantGaramond-SemiBold.ttf') format('ttf');
}
@font-face {
	font-family: "Cormorant Garamond", serif;
	font-weight: 700;
  font-style: normal;
	src: local('CormorantGaramond-Bold'), url('//font/Cormorant-Garamond-ttf/CormorantGaramond-Bold.ttf') format('ttf');
}

/* ----------------------------------------------------------------- */

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('./woff2/PretendardVariable.woff2') format('woff2-variations');
}

/* ----------------------------------------------------------------- */

@font-face {
	font-family: 'Pretendard';
	font-weight: 900;
	font-display: swap;
	src: local('Pretendard Black'), url(../font/Pretendard-Black.ttf) format('woff2'), url('./woff/Pretendard-Black.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../font/Pretendard-ExtraBold.ttf) format('woff2'), url('./woff/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url(../font/Pretendard-Bold.ttf) format('woff2'), url('./woff/Pretendard-Bold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 600;
	font-display: swap;
	src: local('Pretendard SemiBold'), url(../font/Pretendard-SemiBold.ttf) format('woff2'), url('./woff/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../font/Pretendard-Medium.ttf) format('woff2'), url('./woff/Pretendard-Medium.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../font/Pretendard-Regular.ttf) format('woff2'), url('./woff/Pretendard-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 300;
	font-display: swap;
	src: local('Pretendard Light'), url(../font/Pretendard-Light.ttf) format('woff2'), url('./woff/Pretendard-Light.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 200;
	font-display: swap;
	src: local('Pretendard ExtraLight'), url(../font/Pretendard-ExtraLight.ttf) format('woff2'), url('./woff/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 100;
	font-display: swap;
	src: local('Pretendard Thin'), url(../font/Pretendard-Thin.ttf) format('woff2'), url('./woff/Pretendard-Thin.woff') format('woff');
}