*{margin: 0; padding: 0;}
a{text-decoration: none; color: darkred; display: block;}
ul,li{list-style: none;}
img{border: 0; display: block;}
body{
    font-family: 'Noto Sans KR', sans-serif;
}

/* Gilda Display */
@font-face {
  font-family: "Gilda Display", serif;
  src: url('../font/GildaDisplay-Regular.ttf') format('woff2');
  font-style: normal;
  font-display: swap;
}

/* noto sans KR */
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url('../font/NotoSans-Thin.ttf') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url('../font/NotoSans-Light.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url('../font/NotoSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url('../font/NotoSans-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url('../font/NotoSans-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url('../font/NotoSans-ExtraBold.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}