.wrap>div{position: relative;}

header{
    width: 100%; position: sticky; top: 0; left: 0; padding: 15px 25px;
    z-index: 100; background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
header>div{
    display: flex; align-items: center; justify-content: space-between;
}




header .navigation{
    display: flex; justify-content: center; align-items: center; gap: 7px; 
}
header .navigation .menu{
    padding: 5px 10px; border-radius: 3px; color: var(--decsColor); font-family: var(--baseFont);
}
header .navigation .menu:hover{background-color: var(--grayBoxHover);}
header .navigation .menu.menuDrop button{
    display: flex; justify-content: space-between; align-items: center; gap:6px;
}
header .navigation .menu, 
header .navigation .menu.menuDrop button span{
    font-size: 14px; font-weight: 500;
}


header .navigation .menu .arrowSvg{
    display: block; width: 10px; height: 19px; fill: var(--svgFill); flex-shrink: 0; 
}
header .navigation .menu:hover .arrowSvg{transform: rotateZ(180deg);}

header .launch{
    background-color: #191918; padding: 8px 14px; border-radius: 6px; 
}
header .launch a{color: #fff; font-size: 14px; font-weight: 400; font-family: var(--engFont); 
display: flex; align-items: center;}
header .launch:active{background-color: #2a2a28;}

/* -------------------------------------------------- */
/* nav */
nav{
    width: 100%;  padding: 30px 25px 50px 25px;
    /* margin-top: var(--header-height); */
    display: flex; align-items: center; justify-content: space-between;
}
nav .marketP{
    display: flex; align-items: center; gap: 5px; position: relative;
    font-family: var(--baseFont); font-size: 15px; font-weight: 500; color: var(--decsColor);
}
nav .marketP a{position: absolute; inset: 0; z-index: 1;}
nav .icon{width: 20px; height: 20px;}
nav .icon.marketIcon{background-color: #191918;}

nav .navIconLink{
    display: flex; align-items: center; gap: 15px;
    font-family: var(--baseFont); font-size: 15px; font-weight: 500; color: var(--decsColor);
}
nav .navIconLink .navIconLink_con{display: flex; gap: 5px;}
nav .navIconLink .navIconLink_con span{transition: color 0.2s ease;}
nav .navIconLink_con:nth-child(1) .icon.navIcon{background-color: #ff6d00;}
nav .navIconLink_con:nth-child(2) .icon.navIcon{background-color: #9849e8;}
nav .navIconLink_con:nth-child(3) .icon.navIcon{background-color: #27918d;}
nav .navIconLink .navIconLink_con:hover span{color: #097fe8;}

/* -------------------------------------------------- */
/* -------------------------------------------------- */
/* main start */
main{width: 88vw; margin: 0 auto; border: 1px solid purple;}
section{width: 100%; position: relative; margin-bottom: 80px;}

/* 0. 반응형 서브페이지 네브 */
main .pageNav{display: none;}

/* 1. 둘러보기 */
.sec_titZone{
    display: flex; align-items: flex-start; 
    justify-content: space-between; margin-bottom: 24px;
}

/* 타이틀 */
.sec_titBox{font-family: var(--baseFont); background-color: antiquewhite;}
.sec_titBox h2{font-size: 41px; font-weight: 700; color: var(--titColor);}
.sec_titBox p{font-size: 15px; font-weight: 400; color: var(--decsColor); margin-top: 3px;}

/* 30000 검색창 */
.contLooking .templateSearch{
    background-color: rgb(255, 255, 255); box-shadow: 0 0 15px 1px rgba(0,0,0,0.2); 
    border: 1px solid rgba(0,0,0,0.1); border-radius: 4px;
}

.contLooking .templateSearch .templateSearch_box input{
    padding: 11px 46px 11px 14px; border-radius: 4px;
    cursor: text; position: relative; background-color: pink;
    width: 310px; outline: none;
}
/* 원래 input안에 생기는 x를 커스텀?? */







/* box grid == start */
.boxGrid{
    /* background-color: aquamarine;  */
    display: grid; grid-template-columns: repeat(12, minmax(0, 1fr)); grid-auto-rows: min-content;
    width: 100%; column-gap: 32px;
}
.boxGrid .gridItem{position: relative; margin-bottom: 24px;}
.boxGrid .gridItem.gridItem_12{grid-column: span 12;}
.boxGrid .gridItem.gridItem_8{grid-column: span 8;}
.boxGrid .gridItem.gridItem_4{grid-column: span 4;}


.boxGrid_Grid{column-gap: 24px;} 
/* consultant item */
.gridItem article{
    display: grid; min-width: 300px; height: 300px; 
    grid-auto-columns: minmax(0, 1fr); background-color: var(--grayBox);
    position: relative; border-radius: var(--grayBoxBorder);
    transition: background-color 0.25s ease;
}
.gridItem article:hover{background-color: var(--grayBoxHover);}
.gridItem article .divItem_txt{
    grid-column: 1;
    display: flex; align-items: flex-start; justify-content: space-between; flex-direction: column;
    height: auto; padding: 28px 34px;
    border: 1px solid palevioletred;
}
.contLooking .gridItem article .divItem_img{
    grid-column: 2; 
    display: flex; align-items: center; justify-content: center;
}

.contLooking .gridItem article .divItem_txt span{
    font-family: var(--baseFont);
    font-size: 12px; font-weight: 500; color: #777; margin-bottom: 10px;
}
.contLooking .gridItem article .divItem_txt h2{
    font-size: 26px; font-weight: 600; color: var(--titColor); margin-bottom: 10px;
}
.contLooking .gridItem article .divItem_txt p{
    font-size: 15px; font-weight: 400; color: var(--decsColor); margin-bottom: 10px;
}
.contLooking .gridItem article .divItem_txt h2,
.contLooking .gridItem article .divItem_txt p{
    font-family: var(--baseFont);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    /* text-wrap: balance; */
}

.contLooking .gridItem article .divItem_txt .divHover_moreBtn{
    display: inline-flex; align-items: center; gap: 5px;
    transition: opacity 0.25s ease; opacity: 0;
}


.contLooking .gridItem article a{position: absolute; inset: 0;}

.contLooking .gridItem.gridItem_8 article,
.contLooking .gridItem.gridItem_4 article{
    background-color: #faf7edb3;
}
.contLooking .gridItem.gridItem_8 article:hover,
.contLooking .gridItem.gridItem_4 article:hover
{background-color: #fbf3db;}



/* 6box item */
.boxGrid_Grid .gridItem.gridItem_2{
    grid-column: span 2; transition: background-color 0.25s ease;
    background-color: var(--grayBox); padding: 28px 30px; border-radius: var(--grayBoxBorder);
    font-family: var(--baseFont); position: relative;
}
.boxGrid_Grid .gridItem.gridItem_2:hover{background-color: var(--grayBoxHover);}
.contLooking .boxGrid_Grid .gridItem.gridItem_2 .icon{width: 32px; height: 32px; margin-bottom: 18px;}
.contLooking .boxGrid_Grid .gridItem.gridItem_2 .icon.gridItem_icon_p{
    background-color: #9849e8;
}
.contLooking .boxGrid_Grid .gridItem.gridItem_2 .icon.gridItem_icon_g{
    background-color: #27918d;
}
.contLooking .boxGrid_Grid .gridItem.gridItem_2 h2{
    font-size: 18px; color: var(--titColor); margin-bottom: 5px;
    word-break: keep-all;
    line-break: strict; 
    hyphens: auto;
    letter-spacing: -1px;
}
.contLooking .boxGrid_Grid .gridItem.gridItem_2 span{font-size: 12px; color: var(--decsColor);}

.contLooking .boxGrid_Grid .gridItem.gridItem_2 a{
    position: absolute; inset: 0; 
}



/* -------------------------------------------------- */
/* 추천 컨설턴트 start */
.conConsultant .sec_titZone{align-items: flex-end;}
/* 뷰모어 버튼 */
.conConsultant .sec_titZone .moreView{
    background-color: pink; position: relative;
}
.conConsultant .sec_titZone .moreView a{position: absolute; inset: 0;}
.conConsultant .sec_titZone .moreView span{
    font-family: var(--baseFont); font-size: 14px; font-weight: 600; padding-right: 25px;
    position: relative; color: var(--decsColor);
}
.conConsultant .sec_titZone .moreView span::before{
    content: ''; position: absolute; top: 50%; transform: translateY(-50%);
    right: 0; width: 17px; height: 17px; background-color: var(--decsColor);
    border-radius: 50%;
}

/* 박스 그리드 아이템들 - 프로필 */
.boxGrid_Grid .gridItem.gridItem_3{
    grid-column: span 3; transition: background-color 0.25s ease;
    background-color: var(--grayBox); padding: 28px 30px; border-radius: var(--grayBoxBorder);
    font-family: var(--baseFont); position: relative;
}
.boxGrid_Grid .gridItem.gridItem_3:hover{background-color: var(--grayBoxHover);}

.profile{
    position: relative; 
    display: flex; justify-content: space-between; flex-direction: column;
}
.profile>a.card_link{position: absolute; inset: 0; z-index: 1;}
.profile .profile_img{
    width: 80px; height: 80px; background-color: #c7c7c7; 
    border-radius: 50%; margin-bottom: 36px;
}
.profile .profile_txt{
    font-family: var(--engFont); color: var(--titColor);
    display: -webkit-box; -webkit-box-orient: vertical;
    text-overflow: ellipsis; overflow: hidden;
}
.profile .profile_txt h2{
    display: -webkit-box; -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; text-overflow: ellipsis; overflow: hidden;

    font-size: 18px; margin-bottom: 8px;
}
.profile .profile_txt p{
    display: -webkit-box; -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; text-overflow: ellipsis; overflow: hidden;

    font-size: 14px; font-weight: 400; margin-bottom: 18px;
}

.profile .profile_txt .profileInner_btn{display: flex; gap: 7px;}
.profile .profile_txt .profileInner_btn button{
    border-radius: 8px; font-family: var(--baseFont); font-size: 16px;
    font-weight: 500; padding: 4px 14px 5px 14px;
    transition: background-color 0.25s ease;
    position: relative; z-index: 2;
}
.profile .profile_txt .profileInner_btn button.profile_link{
    background-color: #fff; border: 1px solid #cfcfcf;
}
/* .profile .profile_txt .profileInner_btn button.profile_link:hover{
    background-color: #cfcfcf;
} */
.profile .profile_txt .profileInner_btn button.reservation_link{
    background-color: #097fe8; color: #fff;
}


/* -------------------------------------------------- */
/* 추천 템플릿 start */
/* #template_boxGrid{background-color: aquamarine;} */

#template_boxGrid .template{
    position: relative; 
    display: flex; align-items: flex-start; justify-content: flex-start;
    flex-direction: column;
}
/* img */
#template_boxGrid .template .template_img{
    width: 100%; aspect-ratio: 1200 / 630; border-radius: 6px;
    background-color: #fff; border: 1px solid rgba(0,0,0,0.1);
    position: relative; overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}
#template_boxGrid .template .template_img a{position: absolute; inset: 0;}
#template_boxGrid .template .template_img::before{
    content: ''; position: absolute; 
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.05); display: none;
}
#template_boxGrid .template .template_img:hover::before{display: block;}


/* txt */
#template_boxGrid .template .template_txt{
    width: 100%;
    display: flex; align-items: flex-start; justify-content: space-between;
    position: relative; margin-top: 6px;
}
#template_boxGrid .template .template_txt>div{
    display: flex; align-items: center; justify-content: flex-start;
}
#template_boxGrid .template .template_txt .inner{
    display: flex; justify-content: space-between; flex-direction: column;
}

#template_boxGrid .template .template_txt article{
    width: 35px; height: 35px; min-width: 35px;
    background-color: #c3c3c3; margin-right: 15px;
    border-radius: 50%; 
}

#template_boxGrid .template .template_txt .inner a{
    font-family: var(--baseFont); color: var(--decsColor); 
}
#template_boxGrid .template .template_txt .inner a.template_link{
    font-size: 15px; font-weight: 400;
}
#template_boxGrid .template .template_txt .inner a.templateMaker_link{
    font-size: 13px; font-weight: 400;
}
#template_boxGrid .template .template_txt span{
    font-family: var(--engFont); color: #666; 
    font-size: 15px; font-weight: 500;
}
/* ------------------------------------------------------ */
/* 크리에이터 되기 start */
.content.conCategory{
    max-width: 770px; margin: auto auto 110px;
    border: 1px solid red;
    display: flex; align-items: center; justify-content: space-between;
}

.conCategory .category_img{
    aspect-ratio: 244 / 255;
    width: 244px; height: 255px; 
    background-color: var(--grayBox);
    margin-right: 50px;

    flex: 1 0 244px;
    /* 
        1 → 남는 공간 있으면 커져라

        0 → 절대 줄어들지 마라

        244px → 기본 크기는 이거다

    “이미지는 최소 보장, 레이아웃은 유연”
    
    */
}






/* ------------------------------------------------------ */
/* footer start */
footer{
    width: 100%; height: 350px; overflow: hidden;
    position: relative; display: flex; align-items: center; justify-content: center;
}
footer::before{
    content: ''; width: 500%; height: 1px; 
    background-color: rgba(0, 0, 0, 0.15); position: absolute; top: 0; left: -250%;
}