*{margin: 0; padding: 0;}
a{text-decoration: none; color: darkred; display: block;}
ul,li{list-style: none;}
img{border: 0; display: block;}
html {
  scroll-behavior: smooth; 
}
/* noto sans */
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-Thin.ttf') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans", sans-serif;
  src: url('../font/NotoSans-ExtraBold.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Poppins */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url('../font/Poppins-Light.ttf') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins", sans-serif;
  src: url('../font/Poppins-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: "Poppins", sans-serif;
  src: url('../font/Poppins-Medium.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: "Poppins", sans-serif;
  src: url('../font/Poppins-SemiBold.ttf') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}@font-face {
  font-family: "Poppins", sans-serif;
  src: url('../font/Poppins-Bold.ttf') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

